backend:
  name: git-gateway
  branch: main

media_folder: 'assets/uploads'
public_folder: /uploads
publish_mode: editorial_workflow

collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'content/blog'
    format: 'frontmatter'
    create: true
    slug: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - {
          label: 'Author',
          name: 'author',
          widget: 'relation',
          collection: 'authors',
          searchFields: ['name'],
          valueField: 'name',
          multiple: true,
        }
      - { label: 'Featured Image', name: 'featureImage', widget: 'image' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'authors'
    label: 'Authors'
    folder: 'content/author'
    create: true
    slug: '{{slug}}'
    identifier_field: name
    fields:
      - { label: 'Name', name: 'name', widget: 'string' }
      - { label: 'Image', name: 'image', widget: 'image' }
      - { label: 'Linkedin link', name: 'linkedin', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'markdown' }
