backend:
  name: git-gateway
  branch: main

media_folder: 'static/uploads'
public_folder: '/uploads'
publish_mode: editorial_workflow

collections:
  - name: 'articles'
    label: 'Articles'
    folder: 'content/articles'
    format: 'frontmatter'
    create: true
    slug: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string', required: true }
      - {
          label: 'Publish Date',
          name: 'date',
          widget: 'date',
          formate: 'LL',
          picker_utc: false,
          required: true,
        }
      - {
          label: 'Description',
          name: 'description',
          widget: 'string',
          required: true,
        }
      - {
          label: 'Popularity',
          name: 'isPopular',
          widget: 'boolean',
          default: false,
          required: true,
        }
      - {
          label: 'Author',
          name: 'author',
          widget: 'relation',
          collection: 'authors',
          searchFields: ['name'],
          valueField: 'name',
          multiple: true,
          required: true,
        }
      - {
          label: 'Featured Image',
          name: 'featureImage',
          widget: 'image',
          required: true,
        }
      - { label: 'Body', name: 'body', widget: 'markdown', required: true }
  - name: 'authors'
    label: 'Authors'
    folder: 'content/authors'
    create: true
    slug: '{{slug}}'
    identifier_field: name
    fields:
      - { label: 'Name', name: 'name', widget: 'string', required: true }
      - { label: 'Image', name: 'image', widget: 'image', required: true }
      - {
          label: 'Linkedin link',
          name: 'linkedin',
          widget: 'string',
          required: true,
        }
      - {
          label: 'Description',
          name: 'description',
          widget: 'markdown',
          required: true,
        }
